version: '3.4'
services:
  stash:
    image: stashapp/stash:latest
    container_name: stash
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "2m"
    environment:
      - STASH_STASH=/data/
      - STASH_GENERATED=/generated/
      - STASH_METADATA=/metadata/
      - STASH_CACHE=/cache/
    volumes:
      - /etc/localtime:/etc/localtime:ro
      
      ## Keep configs here.
      - "${DOCKERHOME}/volumes/stash-stack/config:/root/.stash"
      ## Point this at your collection.
      - /mnt/crypt-media:/data
      ## This is where your stash's metadata lives
      - "${DOCKERHOME}/volumes/stash-stack/metadata:/metadata"
      ## Any other cache content.
      - "${DOCKERHOME}/volumes/stash-stack/cache:/cache"
      ## Where to store generated content (screenshots,previews,transcodes,sprites)
      - "${DOCKERHOME}/volumes/stash-stack/generated:/generated"
      # Community Scrapers
      - "${DOCKERHOME}/volumes/stash-stack/scrapers:/data/scrapers"
    labels: 
      - "traefik.enable=true"
      - "traefik.http.routers.stash.rule=Host(`stash.${REVERSE_HOST}`)"
      - "traefik.http.routers.stash.entrypoints=web-secure"
      - "traefik.http.routers.stash.tls=true"
    networks: 
      - reverse

networks:
  reverse:
    external:
      name: reverse
